/.phpunit.cache
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed

# Laravel specific
/storage/logs/
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/views/

# Allow build assets for production
!/public/build/
!/public/build/manifest.json

# Comment out node_modules to include it in repository
# /node_modules
node_modules
